/* Default Font */
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    /*When I add border or padding, it doesn't affect the width of the element*/
    box-sizing: border-box;
}

body {
    /* Default font */
    font-family: 'Muli', sans-serif;
    /* Flex box to center everything */
    display: flex;
    /* To display all elements vertically (default is horizontal) */
    flex-direction: column;
    /* If flex-direction:column then centers horizontally, else centers vertically */
    align-items: center;
    /* To center vertically */
    justify-content: center;
    /* To center vertically we need to set height. 100vh is viewport heigh (entire height of browser) */
    height: 100vh;
    /* Remove default scrollbars */
    overflow: hidden;
    /* Removing all margin */
    margin: 0;
    background-color: aliceblue;
}

h1 {
    position: absolute;
    top: 2rem;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    max-width: 100%;
    width: 350px;
    position: relative;
}

/* Grey progress line */
.progress-container::before {
    content: '';
    background-color: #e0e0e0;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

/* Blue progress line */
.progress {
    background-color: #3498db;
    width: 0%;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: 0.4s ease;
    z-index: -1;
}

.circle {
    background-color: white;
    color: #999;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 3px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    transition: 0.4s ease;
}